body{
	background-color: #0B2659;
	background: #0B2659;
    background: -webkit-radial-gradient( #2a3e86, #142254, #0B2659);
    background: radial-gradient(#2a3e86, #142254, #0B2659, );
}
.small-icon{
	height: 60px;
}
.kinara_page{
	overflow: hidden;
}
.kinara_page hr{
	width: 60%;
	border-top: 1px solid rgba(255,255,255,.12);
}
.part-title{
	text-align: center;
	font-weight: 500;
	margin: 15px 0px;
}

.flex{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.f-c{
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.f-col{
	flex-direction: column;
}
.line-separator{
	width: 5px !important;
	height: 100% !important;
	background: #44C8F5;
	background: -webkit-linear-gradient(to bottom, #44C8F5, #44C8F550, #ffffff01);
	background: linear-gradient(to bottom, #44C8F5, #44C8F550, #ffffff01); 
}

.mr-10{
	margin-right: 10px;
}
.ml-10{
	margin-left: 10px;
}
.m-30{
	margin: 20px;
}

.plr-10{
	padding: 10px 0px; 
}
.ptb-20{
	padding: 20px 0px;
}

/*.yellow-dots{
	list-sty
}
*/
.main-kinara ul{
	padding: 0;
	list-style: none;
	margin: 0;
}
.main-kinara ul li{
	margin-bottom: 10px;
	font-size: 0.9rem;
}
.middle-body{
	padding: 0px 40px;
}
.yellow-dots li::before{
	content: "•";
	color: #f3b415;
	display: inline-block; 
	width: 0.6em;
  	margin-left: -1em
}
.orange-dots li::before{
	content: "•";
	color: #f26d1e;
	display: inline-block; 
	width: 0.6em;
  	margin-left: -1em
}
.blue-dots li::before{
	content: "•";
	color: #41c9f5;
	font-size: 15px;
	display: inline-block; 
	width: 0.6em;
  	margin-left: -1em
}
.kinara-intro, .kinara-lighter{
	padding: 20px 60px;
}
.kinara-title{
	padding: 20px 60px;
}
.kinara-lighter{
	font-weight: 100;
}

.kinara_page{
    font-family: 'Niramit', sans-serif;
}
.kinara_page{
	color: #ffffff;
}

.card-kinara{
	/*height: 300px;*/
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2);
    height:100%;
    width: 100%;
  
}
.package-place{
	padding-left: 65px;
}
.package-place.back-right{
	padding-left: 0px;
	padding-right: 66px;
}
.image-place{
	height: 100%;
	padding-right: 66px;
	padding-top: 70px;
	/*margin-bottom: 100px;*/
}
.image-place.to-left{
	padding-right: 0px;
	padding-left: 66px;
}
.line-bar{
	margin-bottom: 	30px;
}
.table-kinara{
	background-color: #0B2659;
    box-shadow: 5px 5px 25px rgba(0,0,0,.2);
    color: #212121;
    /*padding-bottom: 9px;*/
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;	
}

.top-line{
	background-color: #ffc905;
	width: 	100%;
	height: 10px;
}
.left-part{
	margin-right: 40px;
	background-color:#ffc905;
}
.left-part.kinara-left{
	margin-left: 40px;
	margin-right: 0px;
}

.kinara-sign{
	height: 80px;
	width: 80px;
	border-radius: 50%;
	background-color: #0B2659;
	position: relative;
	right: -30px;
	top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	border: 3px solid #fff;
	font-size: 1.6rem;
	color: #fff;
	flex-direction: column;
	line-height: 20px;
	box-shadow: 5px 5px 25px rgba(0,0,0,.2);
	 animation-play-state: paused;
	 cursor: pointer;
}
.kinara-sign:hover{
	/*animation-play-state: running;*/
	animation: jello 1s;
}
.kinara-sign span.small{
	font-size: 12px;
	display: block;
}
.to-right{
	position: relative;
	left: -30px !important;
	top: 50px;
}
.kinara-sign div{
	height: 96%;
	width: 	96%;
	border-radius: 50px;
	font-size: 2rem;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background-color: #0B2659 ;
	color: #fff;
}
.right-part{
	padding: 30px;
}
tr.bold td{
	font-weight: bold;
}
.kinara-card-title{
	color: #fff;
	margin-bottom: 15px;
}
.kinara-h2{
	margin-bottom: 30px; 
}
.kinara-h2.right{
	text-align: right; 
}
.line-bar{
	background-color: #fff;
	width: 	100px;
	height: 1px;
	margin-top: 15px;	
}
.kinara-pack{
	width: 	100%;
}
.right-part{
	flex: 1;
}
.kinara-pack .table td{
	border: none;
	color: #fff;
}



@media screen and (max-width: 768px){
	.line-separator{
		display: none;
	}
	.m-30{
		margin: 0px;
	}
	.plr-10{
		padding: 35px 10px;
	}
	.kinara-intro, 
	.kinara-title{
		padding: 20px 10px;
	}
}



@media screen and (max-width: 420px) {
	.package-place{
		padding-left: 15px;
	}
	.kinara-h2{
		margin-bottom: 20px;
		font-size: 1.4em; 
	}
	.left-part{
		margin-right: 40px;
		width: 5px;
	}
	.kinara-sign{
		height: 50px;
		width: 50px;
		border: 2px solid #fff;
		left: -15px;
		font-size: 1rem;
		line-height: 18px;
		top: -10px;
	}
	.right-part{
		padding: 10px;
		flex: 1;
	}
	.py-5{
		padding-bottom: 0px !important;
	}
	.package-place.back-right{
		padding-left: 0px;
		padding-right: 5px;
	}
	.hidden-sm{
		display: none;
	}
	.kinara-h2.right{
		padding-left: 25px;
		text-align: inherit !important;
	}
	.kinara_page hr{
		margin-top: 2rem;
		/*margin-bottom: 2rem;*/
	}
	
}



.ji-image{
	margin-bottom: 20px;
}
.ji-image img{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	width: 100%;
}


.rep-img img{
	width: 100%;
}

.grey-pic{
	background-color: rgba(0,0,0,0.12);
	height: 100px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}
.comp-li li{
	height: 40px;
	border-bottom: 1px solid rgba(0,0,0,0.12);
	margin: 0 !important;

}
.comp-li li a{
	display: block;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	transition: 0.5s;
}
.comp-li li a:hover{
	text-decoration: none;
}
.mt-20{
	margin-top: 20px;
}
.a-lists{
	list-style: lower-alpha;
}
.i-lists{
	list-style: upper-roman !important;
}

#soka .prise-image{
	background-color: #0B2659;
	border: 1px solid #f7c602;
}
#soka .prise-image i {
    font-size: 25px;
    color: #f7c602;
}
a.text-center{
	/*width: 100%;*/
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	text-align: center !important;
	color: white;
	transition: 0.5s;
}
a.text-center:hover{
	text-decoration: underline;
}
.table-kinara td a{
	color: #5d7ef3;
}













